name: Continuos Integration

on:
  pull_request:
    branches:
      - master

jobs:
  continuos-integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Using Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: run install and build
        run: |
          npm install
          npm run build
      - name: test coverage
      - uses: codecov/codecov-action@v2
        run: |
          npm run test:cov
      - name: validate test coverage
        run: |
          coverage=$(cat coverage/coverage-summary.json | jq -r '.total.lines.pct')
          min_coverage=80  # Defina aqui a porcentagem mínima de coverage desejada
          if (( $(echo "$coverage < $min_coverage" | bc -l) )); then
            echo "O coverage de testes é inferior a $min_coverage%. Abortando o pull request."
            exit 1
          fi
